<div nz-flex class="about-parent-container" style="padding: 20px;" [nzVertical]="true">

    <!-- user information -->
    <div class="w-100" [nzGap]="10" nz-flex [nzVertical]="true">
        <div nz-flex nzJustify="center">
            <nz-avatar nzShape="square" [nzSize]="100" [nzIcon]="'user'"></nz-avatar>
        </div>
        <div nz-flex nzJustify="center">
            <h5 class="app-primary-text-color">Muhammad Ali</h5>
        </div>

        <div nz-flex nzJustify="center" nzAlign="center" class="app-secondary-bg-color"
            style=" border-radius: 13px; height: 40px; width: 100%;">
            <span>Software Engineer</span>
        </div>
    </div>

    <nz-divider class="app-secondary-bg-color"></nz-divider>
    <!-- Skills Information -->
    <h6>SKILLS</h6>
    <div>
        <nz-tag [nzBordered]="false">.NET Core</nz-tag>
        <nz-tag [nzBordered]="false">Angular</nz-tag>
        <nz-tag [nzBordered]="false">Flutter</nz-tag>
        <nz-tag [nzBordered]="false">Firebase</nz-tag>
        <nz-tag [nzBordered]="false">Sql Server</nz-tag>
        <nz-tag [nzBordered]="false">JS TS</nz-tag>
        <nz-tag [nzBordered]="false">GIT</nz-tag>
        <nz-tag [nzBordered]="false">Cloud Flows</nz-tag>
    </div>


    <nz-divider class="app-secondary-bg-color"></nz-divider>
    <!-- General Information -->
    <h6>CONTACT</h6>
    <div nz-flex nzGap="small" [nzVertical]="true">
        <div nz-flex [nzGap]="10">
            <span class="app-primary-text-color" nz-icon nzType="mail" nzTheme="outline"></span>
            <span style="font-size: 13px;">{{"aliawan0201@gmail.com"}}</span>
        </div>
        <div nz-flex [nzGap]="10">
            <span class="app-primary-text-color" nz-icon nzType="linkedin" nzTheme="outline"></span>
            <a href="https://www.linkedin.com/in/muhammad-ali-b9838b240/"
                style="font-size: 13px; color: white;">{{"Muhammad Ali"}}</a>
        </div>
        <div nz-flex [nzGap]="10">
            <span class="app-primary-text-color" nz-icon nzType="environment" nzTheme="outline"></span>
            <span style="font-size: 13px;">{{"Panwan, Punjab, Pakistan"}}</span>
        </div>
        <div nz-flex [nzGap]="10">
            <span class="app-primary-text-color" nz-icon nzType="phone" nzTheme="outline"></span>
            <span style="font-size: 13px;">{{"0307-3401167"}}</span>
        </div>
    </div>
</div>