<div style="text-align: justify;" class="mt-2">
    <h5 class="app-primary-text-color">About</h5>
    <span style="font-size: 13px;">
        Hi. I'm Muhammad Ali, Software Engineer with 6 months of experience specializing in .NET Core, Entity
        Framework Core. Skilled in Web API and MVC development, with additional expertise in
        Angular, Flutter, Firebase, and SQL Server. Strong foundation in JavaScript, OOP principles, and data
        structures. Creating application development across web and mobile platforms.
    </span>
</div>