<div #matterContainer class="matter-container"></div>

<div nz-row class="content">
    <div class="h-100" nzJustify="center" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" nz-flex nzVertical>
        <div nz-flex nzVertical>
            <span><span class="h font-fam">Muhammad </span><span class="h primary-color font-fam">Ali</span></span>
            <span class="sh font-italic">Software Engineer</span>
            <span class="description text-justify">I am a dedicated engineer who focuses on creating both websites and
                mobile apps.
                I am
                skilled in building web APIs and integrating them with mobile and web applications. I work with a
                variety of
                modern
                technologies, enabling me to provide creative solutions that meet my clients' needs and improve user
                experiences.</span>
        </div>

        <div class="mt-5 tech-parent" nz-flex nzGap="small">
            <span *ngIf="isLeftButtonVisible()" class="pointer-event-all" nz-icon nzType="arrow-left" nzTheme="outline"
                (click)="slideImagesToLeft()"></span>

            <div #techStack class="tech-stack" nz-flex [nzGap]="techImgGap">
                <img class="techs pointer-event-all" *ngFor="let i of getVisibleImages()" [src]="i.path" nz-tooltip
                    [nzTooltipTitle]="i.tooltip" [nzTooltipColor]="i.tooltipColor">
            </div>

            <span *ngIf="isRightButtonVisible()" class="pointer-event-all" nz-icon nzType="arrow-right"
                nzTheme="outline" (click)="slideImagesToRight()"></span>
        </div>
    </div>

    <div class="mt-3" nz-col [nzOffset]="4" [nzXs]="0" [nzSm]="0" [nzMd]="8">
        <div class="h-100 mb-5" nz-flex nzAlign="center" nzJustify="center">
            <img class="mb-5 img-fluid" src="images/coder.svg">
        </div>
    </div>

    <div class="projects-btn pointer-event-all">
        <button (click)="scrollTo100vh()" class="btn btn-large primary-bg-color text-white">
            Projects
            <span nz-icon nzType="arrow-down"></span>
        </button>
    </div>
</div>