<div class="parent-background"></div>
<div nz-row  class="content">
    <div class="ml-5" nzJustify="center" nz-col [nzSpan]="12" nz-flex nzVertical>
        <span class="h1">Muhammad Ali</span>
        <span class="h3 font-italic" style="color: rgb(74, 74, 163);">Software Engineer</span>
        <span class="text-justify">I am a dedicated engineer who focuses on creating both websites and mobile apps. I am
            skilled in building web APIs and SQL Server Management Studio for database. I work with a variety of modern
            technologies, enabling me to provide creative solutions that meet my clients' needs and improve user
            experiences.</span>
        <div nz-flex [nzGap]="10" nzWrap="wrap" class="mt-2">
            <tag value='DOTNET Core'></tag>
            <tag value='EF Core'></tag>
            <tag value='Angular'></tag>
            <tag value='SQL Server Management Studio'></tag>
            <tag value='JS / TS'></tag>
            <tag value='OOP'></tag>
            <tag value='DS And Algorithms'></tag>
            <tag value="Flutter"></tag>
            <tag value="Firebase"></tag>
            <tag value='XUnit Testing'></tag>
            <tag value='Selenium Testing'></tag>
        </div>
    </div>
    <div class="mt-3" nz-col [nzOffset]="2" [nzSpan]="9">
        <img src="images/coder.svg" height="450px" width="450px">
    </div>
</div>