<a href="#" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="mail" nzTheme="outline"></span>
</a>
<a href="https://www.linkedin.com/in/muhammad-ali-b9838b240/" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="linkedin" nzTheme="outline"></span>
</a>
<a href="#" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="environment" nzTheme="outline"></span>
</a>
<a href="#" target="_blank">
    <span class="icon-color" [ngClass]="class" nz-icon nzType="phone" nzTheme="outline"></span>
</a>