<div class="socials" nz-flex nzAlign="center" nzJustify="space-around">
    <a href="#" target="_blank">
        <span class="icon-color" nz-icon nzType="mail" nzTheme="outline"></span>
    </a>
    <a href="https://www.linkedin.com/in/muhammad-ali-b9838b240/" target="_blank">
        <span class="icon-color" nz-icon nzType="linkedin" nzTheme="outline"></span>
    </a>
    <a href="#" target="_blank">
        <span class="icon-color" nz-icon nzType="environment" nzTheme="outline"></span>
    </a>
    <a href="#" target="_blank">
        <span class="icon-color" nz-icon nzType="phone" nzTheme="outline"></span>
    </a>
</div>