<div nz-row style="height: 200px; width: 100%; margin: 100px 0px">
    <div nz-col [nzSpan]="invert ? 13 : 10" [class]="invert ? '' : 'h-100'">
        <ng-container *ngTemplateOutlet="invert ? detail : image"></ng-container>
    </div>
    <div nz-col [nzOffset]="invert ? 7 : 0" [nzSpan]="invert ? 4  : 14" [class]="invert ? 'h-100' : ''">
        <ng-container *ngTemplateOutlet="invert ? image : detail"></ng-container>
    </div>
</div>

<ng-template #image>
    <img *ngFor="let img of project.images" [src]="img.path"
        [ngStyle]="{'height' : img.height ?? '100%', 'width' : img.width}">
</ng-template>

<ng-template #detail>
    <div nz-row>
        <h4>{{project.title}}</h4>
        <div class="ml-3" style="margin-top: 1px;">
            <nz-tag *ngFor="let tech of techs" [nzColor]="tech.color">{{tech.title}}</nz-tag>
        </div>
    </div>
    <div class="mt-3 text-justify">
        <span>{{project.description}}</span>
    </div>
</ng-template>