.appbar
{
    height: 40px; 
    width: 40%;
    border-radius: 15px;
    margin-top: 10px;
}

.appbar > div
{
    border-radius: 15px;
    display:  flex;
    align-items: center;
    justify-content: center;    
}