<div class="about-parent-container pl-3 pr-3">
    <header nz-flex nzJustify="center">
        <nav nz-flex nzAlign="center" class="appbar app-secondary-bg-color">
            <div nz-col [nzSpan]="8" class="app-primary-bg-color h-100">
                <a style="font-size: 13px; color: white;">Home</a>
            </div>
            <div nz-col [nzSpan]="8" class="h-100">
                <a style="font-size: 13px; color: white;">Projects</a>
            </div>
            <div nz-col [nzSpan]="8" class="h-100">
                <a style="font-size: 13px; color: white;">Experience</a>
            </div>            
        </nav>
    </header>
    <router-outlet></router-outlet>
</div>